<section id="about" class="about-section section-container">
    <div class="about-container">
        <div class="about-wrapper">
            <div class="left-content about-content" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">
                <img src="assets/images/about.png" alt="Large Signage of Nyxsys Philippines outside the building (daytime)" />
            </div>
            <div class="right-content about-content" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                <div class="about-subtitle rounded-pill">ABOUT US</div>
                <h2 class="header">NYXSYS PHILIPPINES, INC.</h2>
                <p>We are one of the leading Digital Media and Business Technology Solutions providers in the country.
                </p>
                <p>As a trusted partner, we empower companies to navigate the modern landspace with cutting-edge tools
                    and strategies for success
                </p>
                <a href="/about" color="accent" mat-raised-button>Learn More About Nyxsys Philippines</a>
            </div>
        </div>
    </div>
</section>