<section class="section-container gallery-section">
    <div class="gallery-container">
        <div class="gallery-wrapper">
            <h3 class="fs-3 fw-semibold">Our Deliverables</h3>   
            <p>Showcasing Our Expertise and Innovative Solutions</p>
            <div class="row g-3 m-0 p-0 w-100">
                <div class="col-12 col-md-6 col-lg-4" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">
                    <div class="gallery-item">
                        <img src="assets/images/about/deliverables/1.png" alt="McDonald’s 'Flippin' soon! 03.19.24' on Iconic LED billboard over a busy street." loading="lazy">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                    <div class="gallery-item">
                        <img src="assets/images/about/deliverables/2.png" alt="Globe store with vibrant digital signage enhancing the store’s atmosphere." loading="lazy">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4" [@slideIn]="isVisible[2] ? 'visible' : 'hidden'">
                    <div class="gallery-item">
                        <img src="assets/images/about/deliverables/3.png" alt="Yellow Cab 'Half Moon Pizzas'  on Paragon LED billboard glowing over a busy nighttime street." loading="lazy">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4" [@slideIn]="isVisible[3] ? 'visible' : 'hidden'">
                    <div class="gallery-item">
                        <img src="assets/images/about/deliverables/4.png" alt="Nissan Navara ad displayed on a digital signage display for advertising" loading="lazy">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4" [@slideIn]="isVisible[4] ? 'visible' : 'hidden'">
                    <div class="gallery-item">
                        <img src="assets/images/about/deliverables/5.png" alt="Dyson hairdryer ad on Market Market LED billboard with a city skyline in the background." loading="lazy">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4" [@slideIn]="isVisible[5] ? 'visible' : 'hidden'">
                    <div class="gallery-item">
                        <img src="assets/images/about/deliverables/6.png" alt="Lacoste fragrance ad on a large outdoor Iconic  LED billboard above a busy city street." loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>