<footer>
    <div class="container-lg">
        <div class="wrapper">
            <div class="row gx-3 gy-5 w-100 align-items-md-start align-items-center">
                <div class="col-12 col-lg-3">
                    <a href="/" target="_blank">
                        <img src="https://nyxsys.ph/assets/webp-images/logo white.webp" alt="Company Logo" class="logo" loading="lazy">
                    </a>
                    <div class="footer-socials">
                        <h5 class="fs-5 fw-semibold">Connect with Us</h5>
                        <div class="footer-social-items">
                            @for (item of socialLinks; track $index) {
                                <a [href]="item.url" target="_blank" rel="noopener noreferrer">
                                    <img [src]="'https://nyxsys.ph/assets/webp-icons/' + item.icon + '.webp'" [alt]="item.url">
                                </a>
                            }
                        </div>
                    </div>
                    <div class="mt-auto">
                        <a href="https://g.page/r/CcIARyzfO7ZREBM/review" class="google-review-btn" target="_blank">
                            <img src="https://nyxsys.ph/assets/webp-images/google-review-btn.webp" alt="Google Review Button" loading="lazy">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <h5 class="fs-5 fw-semibold">Quick Links</h5>
                    <ul class="footer-quick-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/testimonials">Testimonials</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="https://nyxsys.ph/news-and-updates/">News & Updates</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3">
                    <h5 class="fs-5 fw-semibold">Our Services Offered</h5>
                    <ul class="footer-quick-links">
                        <li><a href="/services/led-media-inventories">Led Billboard Advertising</a></li>
                        <li><a href="/services/static-fixed-inventories">Static Billboard Advertising</a></li>
                        <li><a href="/services/digital-display-management-services">Digital display Management</a></li>
                        <li><a href="/services/audience-measurement">Audience Measurement</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3">
                    <h5 class="fs-5 fw-semibold">Contacts Info</h5>
                    <div class="footer-contacts">
                        <div class="footer-contacts-item">
                            <mat-icon>mail</mat-icon>
                            <p>{{ emailAddress }}</p>
                        </div>
                        <div class="footer-contacts-item">
                            <mat-icon>location_on</mat-icon>
                            <p>{{ address }}</p>
                        </div>
                        <div class="footer-contacts-item">
                            <mat-icon>phone</mat-icon>
                            <p>{{ phone }}</p>
                        </div>
                    </div>
                    <h5 class="fs-5 fw-semibold">Working Hours</h5>
                    <div class="footer-contacts">
                        <div class="footer-contacts-item">
                            <mat-icon>schedule</mat-icon>
                            <p>8 AM - 5 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row g-2 mt-3 footer-small w-100">
                <div class="col-12 col-lg-9">
                    <p>&copy; 2024 Nyxsys Philippines, Inc. All rights reserved.</p>
                </div>
                <!-- <div class="col-12 col-lg-3">
                    <a [href]="'/privacy-policy'">Privacy Policy</a>
                    <span class="dot-separator">•</span>
                    <a [href]="'/terms'">Terms of Service</a>
                </div> -->
            </div>
        </div>
    </div>
</footer>