<nav class="navbar" [ngClass]="{ 'scrolled': isScrolled }">
    <div class="navbar-container">
        <a href="/">
            <!-- <img src="assets/images/logo white.png" alt="logo white.png" class="logo" loading="lazy"> -->
            <img ngSrc="assets/images/logo white.png" alt="logo white.png" class="logo" width="250" height="56"
                priority>
        </a>
        <button class="navbar-toggler" (click)="isMenuOpen = !isMenuOpen"
            mat-icon-button><mat-icon>menu</mat-icon></button>
    </div>

    <ul class="navbar-menu" [class.active]="isMenuOpen">
        <li><a href="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <!-- <li><a href="/services" routerLinkActive="active">Services</a></li> -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
            <ul class="dropdown-menu text-bg-dark">
                @for (item of utility.services; track $index) {
                    <li><a class="dropdown-item fs-6 fw-light" [href]="item.routerLink">{{ item.title }}</a></li>
                }
            </ul>
        </li>
        <li><a href="/about" routerLinkActive="active">About</a></li>
        <li><a href="/team" routerLinkActive="active">Team</a></li>
        <li>
            <button class="d-none d-md-block" [routerLink]="['/contact']" color="accent" mat-raised-button>
              Contact Us
            </button>
            <a class="d-block d-md-none" href="/contact">Contact Us</a>
        </li>
    </ul>
</nav>