<nav class="navbar" [ngClass]="{ 'scrolled': isScrolled }">
    <div class="navbar-container">
        <a href="/">
            <img ngSrc="https://nyxsys.ph/assets/images/logo white.png" alt="We are one of the leading Digital Media and Business Technology Solutions providers in the country." class="logo" width="250" height="56"
                priority>
        </a>
        <button class="navbar-toggler" (click)="isMenuOpen = !isMenuOpen"
            mat-icon-button><mat-icon>menu</mat-icon></button>
    </div>

    <ul class="navbar-menu" [class.active]="isMenuOpen">
        <li><a href="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a class="nav-item" href="/about" routerLinkActive="active">About</a></li>
        <li class="nav-item dropdown" (mouseleave)="isDropDown = false">
            <!-- data-bs-toggle="dropdown" -->
            <a class="nav-link dropdown-toggle nav-item" href="/services" (click)="$event.stopPropagation()" (mouseenter)="isDropDown = true" role="button"  aria-expanded="false">
                Services
            </a>
            <ul class="dropdown-menu text-bg-dark" [class.show]="isDropDown" (mouseleave)="isDropDown = false">
                @for (item of utility.services; track $index) {
                    <li><a class="d-block w-100 text-nowrap fs-6 fw-light nav-item" [href]="item.routerLink">{{ item.title }}</a></li>
                }
            </ul>
        </li>
        <li><a class="nav-item" href="/testimonials" routerLinkActive="active">Testimonials</a></li>
        <li><a class="nav-item" href="/team" routerLinkActive="active">Team</a></li>
        <li><a class="nav-item" href="https://nyxsys.ph/news-and-updates/" routerLinkActive="active">News & Updates</a></li>
        <li>
            <a href="/contact" class="d-none d-md-block rounded-pill contact-btn" color="accent" mat-raised-button>Contact Us</a>
            <a class="d-block d-md-none nav-item" href="/contact">Contact Us</a>
        </li>
    </ul>
</nav>