<section class="section-container why-section">
    <div class="why-container">
        <div class="why-wrapper">
            <h2 class="why-header">Why Choose Our Outdoor Media and Advertising Services</h2>
            <div class="row g-4 align-item-center why-content my-5">
                <div class="col-12 col-lg-4">
                    <div class="why-content-item">
                        <img src="https://nyxsys.ph/assets/webp-icons/check.webp" alt="Light Bulb" loading="lazy">
                        <h5 class="fs-5 fw-bold mb-5">Innovative Outdoor Advertising Solutions</h5>
                        <p>
                            We use cutting-edge LED billboards and digital platforms to create high-impact 
                            campaigns. Our innovative outdoor media services help maximize your
                            brand's reach and connect with your target audience effectively.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="why-content-item">
                        <img src="https://nyxsys.ph/assets/webp-icons/check.webp" alt="Light Bulb" loading="lazy">
                        <h5 class="fs-5 fw-bold mb-5">Comprehensive Advertising Services</h5>
                        <p>
                            Our outdoor media and advertising services integrate advanced technology to ensure 
                            your brand gains maximum visibility and lasting impact across various digital and 
                            traditional outdoor channels.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="why-content-item">
                        <img src="https://nyxsys.ph/assets/webp-icons/check.webp" alt="Light Bulb" loading="lazy">
                        <h5 class="fs-5 fw-bold mb-5">Proven Expertise in Outdoor Media</h5>
                        <p>
                            Nyxsys understands the nuances of outdoor media and advertising services. We tailor 
                            strategies that optimize your campaigns, delivering measurable results that drive your 
                            brand’s success.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>