<section class="section-container why-section">
    <div class="why-container">
        <div class="why-wrapper">
            <h2 class="why-header">Why We’re the Right Choice</h2>
            <div class="row g-4 align-item-center why-content my-5">
                <div class="col-12 col-lg-4">
                    <div class="why-content-item">
                        <img src="assets/icons/check.png" alt="Light Bulb" loading="lazy">
                        <h5 class="fs-5 fw-bold mb-5">INNOVATIVE ADVERTISING SOLUTIONS</h5>
                        <p>We deliver innovative advertising solutions using cutting-edge LED billboard and digital platforms to create
                            dynamic, high impact campaigns that maximie brand reach.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="why-content-item">
                        <img src="assets/icons/check.png" alt="Light Bulb" loading="lazy">
                        <h5 class="fs-5 fw-bold mb-5">COMPREHENSIVE SERVICES</h5>
                        <p>Encompass a wide range of solutions, including Digital and seamless integration of advanced technologies to ensure
                            your brand achieves maximum visibility and impact.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="why-content-item">
                        <img src="assets/icons/check.png" alt="Light Bulb" loading="lazy">
                        <h5 class="fs-5 fw-bold mb-5">PROVEN EXPERTISE</h5>
                        <p>Our proven expertise strems from extensive industry experience and a deep understanding of advertising, 
                            enabling us to craft tailored strategies and optimize campaigns that deliver measurable results of our clients
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>