<section class="contact-us-section section-container">
    <div class="contact-us-container">
        <div class="contact-us-wrapper">
            <div class="gradient-bg-bottom-left"></div>
            <div class="row g-md-5">
                <div class="col-12 col-md-5 d-flex flex-column">
                    <p>Contact Us</p>
                    <!-- <h3 class="fs-3 fw-semibold">Contact Us</h3>   
                    <p class="lh-base">Have a question, feedback, or need assistance? We’re here to help! Reach out to us via phone, email, or visit our office.</p> -->
                    <div class="py-2">
                        <h2 class="fs-2 fw-semibold">Let’s Connect & Innovate!</h2>
                        <p class="lh-base">Have a question, need support, or want to collaborate? Fill out the form, and we’ll get back to you soon!</p>
                    </div>
                    <div class="mb-3">
                        <iframe [src]="mapURL" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <form [formGroup]="contactUs" class="row ">
                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input formControlName="name" matInput placeholder="Enter your full name">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Contact Number</mat-label>
                                <input formControlName="phone" matInput placeholder="Enter your phone number">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Company</mat-label>
                                <input formControlName="company" matInput placeholder="Enter your company name">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Email Address</mat-label>
                                <input formControlName="email" matInput placeholder="Enter your email address">
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Message</mat-label>
                                <textarea formControlName="message" matInput placeholder="Enter your message"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <button (click)="onClickSendEmail()" [disabled]="isSending()" color="accent" mat-raised-button>Get Started with us</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>