<div class="service-section section-container">
    <div class="service-container">
        <div class="service-wrapper">
            <h3 class="fs-3 fw-semibold">Our Expert Services to Elevate Your Business</h3>
            <p class="mt-4">At Nyxsys, we offer top-tier advertising solutions, including LED Media Inventories, Static Fixed Inventories, 
                Digital Display Management, and Audience Measurement. Our innovative technology boosts brand visibility, 
                engages a wider audience, and delivers impactful advertising experiences. Explore our services below and discover 
                how we can help you achieve your goals with dynamic, results-driven OOH advertising.</p>
            <div class="row g-3 align-items-center justify-content-between mt-5">
                @for (item of services; track $index) {
                <div class="col-12 col-md-6 position-relative">
                    <div class="service-item" [@slideIn]="isVisible[$index] ? 'visible' : 'hidden'">
                        <img [src]="item.image" [alt]="item.title">
                        <div class="service-item-overlay">
                            <h4>{{ item.title }}</h4>
                            <p>{{ item.description }}</p>
                            <a class="service-item-button" [href]="item.routerLink" color="accent"
                                mat-raised-button>{{ item.buttonText }}</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="gradient-bg-bottom"></div>
</div>