<div class="service-section section-container">
    <div class="service-container">
        <div class="service-wrapper">
            <h3 class="fs-3 fw-semibold">Elevate Your Ads with Nyxsys' Digital Signage Solutions</h3>
            <p class="mt-4 services-subheader">
                We offer unmatched digital signage solutions, including LED media inventories, 
                static media inventories, digital display management, and audience 
                measurement. Our advanced technology increases brand visibility, reaches a 
                wider audience, and creates powerful advertising experiences.
            </p>
            <p class="mt-4 services-subheader">
                Explore our services below to see how our results-driven digital signage 
                solutions can help you meet your business goals. 
            </p>
            <div class="row g-3 align-items-center justify-content-between mt-5">
                <!-- @for (item of services; track $index) {
                
                } -->
                <div class="col-12 col-md-6 position-relative" *ngFor="let item of services; trackBy: trackByFn">
                    <div class="service-item" [@slideIn]="isVisible[item.id] ? 'visible' : 'hidden'">
                        <img [src]="item.image" [alt]="item.alt">
                        <div class="service-item-overlay">
                            <h4>{{ item.title }}</h4>
                            <p>{{ item.description }}</p>
                            <a class="py-4" [href]="item.routerLink" color="accent"
                                mat-raised-button>{{ item.buttonText }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gradient-bg-bottom"></div>
</div>