<div class="service-section section-container">
    <div class="service-container">
        <div class="service-wrapper">
            <h2>Our Excellence</h2>
            <div class="row g-3 align-items-center justify-content-between mt-5">
                @for (item of services; track $index) {
                <div class="col-12 col-md-6 position-relative" [ngClass]="{ 
                            'col-xl-8': [0, 3].includes($index),
                            'col-xl-4': [1, 2].includes($index)
                        }">
                    <div class="service-item" [@slideIn]="isVisible[$index] ? 'visible' : 'hidden'">
                        <img [src]="item.image" [alt]="item.title">
                        <div class="service-item-overlay">
                            <h4>{{ item.title }}</h4>
                            <p>{{ item.description }}</p>
                            <a class="service-item-button" [href]="item.routerLink" color="accent"
                                mat-raised-button>LEARN MORE</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="gradient-bg-bottom"></div>
</div>