<app-navbar></app-navbar>

<section class="section-container audience-section">
    <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="audience-video" preload="auto">
        <source src="assets/videos/audience.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="audience-container">
        <div class="audience-wrapper">
            <h1 class="audience-header audience-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">
                Audience Measurement Enabled by Calton Datx
            </h1>
            <p class="audience-subheader audience-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                <!-- Unlock the power of data-driven insights to better understand your audience. Our advanced analytics
                capture real-time engagement, uncover behavioral patterns, and reveal audience preferences, enabling
                highly targeted campaigns. Optimize strategies, enhance effectiveness, and stay ahead in a data-driven
                world. -->
                Gain a deeper understanding of your audience with Calton Datx's cutting-edge audience measurement technology. 
                Leverage real-time data analytics to track engagement, identify behavioral trends, and uncover actionable 
                insights that drive impactful decisions. Our platform empowers you to segment audiences effectively, personalize 
                messaging, and deliver highly targeted campaigns that resonate. With advanced metrics and predictive analysis, 
                you can optimize marketing strategies, measure performance accurately, and ensure maximum return on investment.
                Stay competitive in today's data-driven landscape by transforming insights into smarter strategies and stronger 
                connections with your audience.
            </p>
        </div>
    </div>
</section>

<section class="section-container description-section">
    <div class="gradient-bg-top-right"></div>
    <div class="description-container">
        <div class="description-wrapper">
            <div class="description-content">
                <h2 class="header description-text">
                    Global Perspective on Digital Out-of-Home Audience Measurement
                </h2>
                <div class="description-text">
                    <p>
                        Data analytics has transformed Digital Out-of-Home (DOOH) advertising by enabling real-time
                        targeting and measurement,
                        allowing advertisers to optimize campaigns based on audience demographics, location-based
                        behaviors, and other contextual data (David & Torshin, 2023).
                        This shift has significantly improved how ads are delivered and measured globally.
                    </p>
                    <p>
                        In regions like North America, Europe, and Asia-Pacific, AI and advanced audience measurement
                        systems have empowered advertisers to
                        fine-tune their strategies, improving ROI by tracking foot traffic and engagement (David &
                        Torshin, 2023). Emerging markets such as Latin America and
                        Africa are also catching up, despite infrastructure challenges, as investments in digital
                        technologies grow.
                    </p>
                    <p>
                        As businesses worldwide adopt data analytics in DOOH, they gain a competitive edge by adapting
                        to real-time consumer
                        behaviors (David & Torshin, 2023). This ability to adjust strategies not only enhances campaign
                        performance but also strengthens market
                        responsiveness, ensuring personalized and impactful brand interactions across various
                        touchpoints.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="indoor-outdoor-container">
        <div class="indoor-outdoor-wrapper">
            <h2>Indoor Mall Audience Measurement</h2>
            <p class="mt-2">Discover better understanding of customer patterns, preferences, and interactions within the
                mall. By
                analyzing foot traffic, dwell times, and
                engagement with different areas, mall owners, tenants, and marketers can better understand customer
                patterns. The result is a more efficient,
                personalized environment that boosts satisfaction, increases foot traffic, and drives sales, fostering
                stronger brand loyalty and growth for both retailers
                and the mall.</p>
            <div class="row g-3 mt-3">
                <div class="row g-3 col-12 align-items-center justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="indoor-outdoor-content m-3">
                            <ngx-slick-carousel [config]="slideConfig">
                                @for (item of [ 2 ]; track $index) {
                                <div ngxSlickItem>
                                    <img [src]="'assets/images/audience measurement/indoor/image' + item + '.png'"
                                        alt="indoor mall audience measurement" loading="lazy">
                                </div>
                                }
                            </ngx-slick-carousel>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <h4>Data Analytics</h4>
                        <p>CaltonDatx, the AI-powered platform developed by Nyxsys Philippines, represents a
                            cutting-edge advancement in business intelligence and data-driven decision-making.
                            Leveraging artificial intelligence, CaltonDatx is designed to help businesses harness the
                            full potential of their data, unlocking insights that drive smarter strategies and growth.
                        </p>
                        <h4 class="mt-4">How It Works</h4>
                        <p>At the core of CaltonDatx is an advanced AI engine that analyzes large volumes of data in
                            real-time, transforming raw information into actionable insights. The platform uses machine
                            learning algorithms to identify patterns, trends, and correlations within data, enabling
                            businesses to make data-driven decisions with greater precision. By continuously learning
                            and evolving, CaltonDatx ensures that it can adapt to changes in business dynamics, market
                            behavior, and consumer preferences.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <app-graphs class="indoor-outdoor-wrapper" [carouselItemList]="indoorAudienceMeasurement"></app-graphs>


        <div class="indoor-outdoor-wrapper">
            <h2>Vehicle Audience Measurement</h2>
            <p>Get valuable insights into the effectiveness of vehicle-based advertising by tracking how these ads are
                seen, engaged with,
                and how they influence customer behavior while people are in or around moving vehicles. This data helps
                advertisers refine their messaging,
                optimize ad placement, and measure the true impact of vehicle-based campaigns, ultimately driving more
                meaningful customer engagement
                and improving the ROI of mobile advertising efforts.</p>
            <div class="row g-3 mt-3">
                <div class="col-12">
                    <div class="indoor-outdoor-content">
                        <video id="vcastplay" [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true"
                            preload="auto">
                            <source src="assets/videos/vehicle tracking.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <app-graphs class="indoor-outdoor-wrapper" [carouselItemList]="outdoorAudienceMeasurement"></app-graphs>
    </div>
</section>

<app-testimonials></app-testimonials>

<app-see-more-services-section></app-see-more-services-section>

<app-footer></app-footer>