<app-navbar></app-navbar>

<section class="section-container audience-section">
    <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="audience-video" preload="auto">
        <source src="assets/videos/audience.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="audience-container">
        <div class="audience-wrapper">
            <h1 class="audience-header audience-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">
                Audience Measurement Enabled by Calton Datx
            </h1>
            <p class="audience-subheader audience-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                Understand your audience like never before with CaltonDatx’s powerful measurement technology and real-time analytics. 
                Spot trends, track engagement, and use predictive insights to fine-tune your marketing and boost ROI. Turn data into smarter 
                decisions by maximizing the results, more personalized messaging, and deeper connections with your audience.
            </p>
        </div>
    </div>
</section>

<section id="audienceDescription" class="section-container description-section">
    <div class="gradient-bg-top-right"></div>
    <div class="description-container">
        <div class="description-wrapper">
            <div class="description-content">
                <h2 class="header description-text">
                    Global Perspective on Digital Out-of-Home Audience Measurement
                </h2>
                <div class="description-text">
                    <p>
                        Data analytics has transformed Digital Out-of-Home (DOOH) advertising by enabling real-time
                        targeting and measurement,
                        allowing advertisers to optimize campaigns based on audience demographics, location-based
                        behaviors, and other contextual data (David & Torshin, 2023).
                        This shift has significantly improved how ads are delivered and measured globally.
                    </p>
                    <p>
                        In regions like North America, Europe, and Asia-Pacific, AI and advanced audience measurement
                        systems have empowered advertisers to
                        fine-tune their strategies, improving ROI by tracking foot traffic and engagement (David &
                        Torshin, 2023). Emerging markets such as Latin America and
                        Africa are also catching up, despite infrastructure challenges, as investments in digital
                        technologies grow.
                    </p>
                    <p>
                        As businesses worldwide adopt data analytics in DOOH, they gain a competitive edge by adapting
                        to real-time consumer
                        behaviors (David & Torshin, 2023). This ability to adjust strategies not only enhances campaign
                        performance but also strengthens market
                        responsiveness, ensuring personalized and impactful brand interactions across various
                        touchpoints.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-container description-section" style="background-color: #002868; color: #fff;">
    <div class="description-container">
        <div class="description-wrapper">
            <div class="description-content">
                <h3 class="fs-2 fw-semibold p-0 m-0">&mdash; Explore further, there's more to learn</h3>
            </div>
        </div>
    </div>
</section>

<section class="section-container description-section">
    <div class="gradient-bg-top-left"></div>
    <div class="indoor-outdoor-container">
        <div class="indoor-outdoor-wrapper">
            <!-- <p>What is Indoor Mall Audience Measurement?</p> -->
            <h3 class="fs-3 fw-semibold mb-4">Optimizing Marketing Strategies with Indoor Mall Data</h3>
            <p class="mt-2">Discover better understanding of customer patterns, preferences, and interactions within the mall. 
                By analyzing foot traffic, dwell times, and engagement with different areas, mall owners, tenants, and marketers can 
                better understand customer patterns. The result is a more efficient, personalized environment that boosts satisfaction, 
                increases foot traffic, and drives sales, fostering stronger brand loyalty and growth for both retailers and the mall.</p>
            <div class="row g-3 mt-3 position-relative">

                <div class="gradient-bg-bottom-right"></div>
                <div class="row g-3 col-12 justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="indoor-outdoor-content m-3">
                            <ngx-slick-carousel [config]="slideConfig">
                                @for (item of [ 2 ]; track $index) {
                                <div ngxSlickItem>
                                    <img [src]="'assets/images/audience measurement/indoor/image' + item + '.png'"
                                        alt="Four shoppers viewing a posterbox showcasing audience measurement analytics in action." loading="lazy">
                                </div>
                                }
                            </ngx-slick-carousel>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row g-3">
                            <div class="col-12">
                                <h4 class="fs-4 mb-5">CaltonDatx, the AI-powered platform developed by Nyxsys Philippines uses advanced AI to take 
                                    data analytics to the next level.</h4>
                                @for (item of caltonDatxKeyPoints; track $index) {
                                    <div class="d-flex mb-4">
                                        <span class="material-icons me-3" style="color: #F58F20;">check_circle</span>
                                        <div class="d-flex flex-column">
                                            <h6 class="fs-6 fw-semibold">{{ item.title }}</h6>
                                            <p class="m-0 p-0">{{item.text}}</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-12 border rounded-3 shadow-sm p-4 position-relative">
                        <div class="d-flex align-items-center mb-4">
                            <span class="material-icons fs-4 me-2" style="color: #F58F20;">help</span>
                            <h4 class="fs-4 m-0">How It Works</h4>
                        </div>
                        <p>At the core of CaltonDatx is an advanced AI engine that analyzes large volumes of data in
                            real-time, transforming raw information into actionable insights. The platform uses machine
                            learning algorithms to identify patterns, trends, and correlations within data, enabling
                            businesses to make data-driven decisions with greater precision. By continuously learning
                            and evolving, CaltonDatx ensures that it can adapt to changes in business dynamics, market
                            behavior, and consumer preferences.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <app-graphs class="indoor-outdoor-wrapper" [carouselItemList]="indoorAudienceMeasurement"></app-graphs>
        <!-- <h3 class="fs-3 fw-semibold">Data Analytics</h3>
        <div class="row g-3 g-md-5">
            <div class="my-5 row g-3 g-md-5 justify-content-between align-items-center position-relative">
                <div class="gradient-bg-bottom-left"></div>
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center position-relative">
                    <img src="https://nyxsys.ph/assets/images/audience measurement/indoor/graph 1.png" style="object-fit: contain;" 
                        width="100%" height="500" alt="Graph of Dwell time for Posterbox from CaltonDatx">
                </div>
                <div class="col-12 col-md-6 d-flex flex-column">
                    <h4 class="fst-4 mb-4">Graph of dwell time</h4>
                    <p>
                        Dwell time, the duration shoppers spend viewing advertisements, is a crucial metric for assessing engagement and 
                        effectiveness in Nyxsys Mall Posterboxes. Longer dwell times indicate higher audience interest, helping advertisers 
                        optimize content with captivating visuals, targeted messaging, and strategic placement in high-traffic areas like food 
                        courts or escalators. By leveraging advanced tracking technologies such as motion sensors and audience analytics, 
                        Nyxsys provides real-time insights into viewer behavior, enabling data-driven adjustments to boost ad visibility and ROI. 
                        This makes Nyxsys Mall Posterboxes a powerful tool for delivering impactful and results-oriented campaigns in bustling mall environments.
                    </p>
                </div>
            </div>
            <div class="my-5 row g-3 g-md-5 flex-column-reverse flex-md-row justify-content-between align-items-center position-relative">
                <div class="gradient-bg-bottom-right"></div>
                <div class="col-12 col-md-6 d-flex flex-column">
                    <h4 class="fst-4 mb-4">Graph of Demographics</h4>
                    <p>
                        Demographics are key to maximizing the impact of Nyxsys Mall Posterboxes, as they allow advertisers to tailor messages 
                        based on audience characteristics like age, gender, income, and lifestyle. Using advanced analytics, Nyxsys gathers real-time data 
                        on who interacts with ads, enabling precise targeting and content customization. Malls attract diverse groups, from young professionals 
                        and families to students and seniors, making them ideal for reaching multiple market segments. Advertisers can strategically place ads—like 
                        tech-focused campaigns near cafes or family-oriented messages near play areas—ensuring higher engagement, better recall, and stronger conversions.
                    </p>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center position-relative">
                    <img src="https://nyxsys.ph/assets/images/audience measurement/indoor/graph 2.png" style="object-fit: contain;" 
                        width="100%" height="500" alt="Graph of Demographics for Posterbox from CaltonDatx">
                </div>
            </div>
            <div class="my-5 row g-3 g-md-5 justify-content-between align-items-center position-relative">
                <div class="gradient-bg-bottom-left"></div>
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center position-relative">
                    <img src="https://nyxsys.ph/assets/images/audience measurement/indoor/graph of impression.png" style="object-fit: contain;" 
                        width="100%" height="500" alt="Graph of Impression Count for Posterbox from CaltonDatx">
                </div>
                <div class="col-12 col-md-6 d-flex flex-column">
                    <h4 class="fst-4 mb-4">Graph of dwell time</h4>
                    <p>
                        Impression count refers to the number of times content, such as an ad or post, is displayed or viewed, making it a 
                        crucial metric for building brand awareness. High impressions signify successful visibility, keeping your brand top-of-mind and 
                        aiding in evaluating campaign performance. Paired with engagement metrics, impression data offers insights into audience reach and 
                        targeting effectiveness, guiding better strategies. For instance, Nyxsys Philippines, Inc. maximizes impressions with its Iconic LED Billboards 
                        in EDSA Guadalupe, ensuring millions of daily views that enhance brand recall and visibility. By leveraging impression counts, businesses 
                        create a foundation for awareness, influence, and growth.
                    </p>
                </div>
            </div>
        </div> -->
    </div>
</section>

<section class="section-container description-section">
    <div class="gradient-bg-top-right"></div>
    <div class="indoor-outdoor-container">
        <div class="indoor-outdoor-wrapper">
            <!-- <p>What is Vehicle Audience Measurement?</p> -->
            <h3 class="fs-3 fw-semibold mb-4">Maximize Impact with Data-Driven Vehicle Advertising</h3>
            <p class="mt-2">Get valuable insights into the effectiveness of vehicle-based advertising by tracking how these ads are seen, 
                engaged with, and how they influence customer behavior while people are in or around moving vehicles. This data helps advertisers 
                refine their messaging, optimize ad placement, and measure the true impact of vehicle-based campaigns, 
                ultimately driving more meaningful customer engagement and improving the ROI of mobile advertising efforts.
            </p>
            <div class="row g-3 mt-3">
                <div class="col-12">
                    <div class="indoor-outdoor-content">
                        <video id="vcastplay" [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true"
                            preload="auto">
                            <source src="assets/videos/vehicle tracking.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <app-graphs class="indoor-outdoor-wrapper" [carouselItemList]="outdoorAudienceMeasurement"></app-graphs>
    </div>
</section>

<section class="section-container description-section" style="background-color: #002868; color: #fff;">
    <div class="description-container">
        <div class="description-wrapper">
            <div class="description-content">
                <h3 class="fs-2 fw-semibold p-0 m-0">&mdash; Swipe for More Success Stories</h3>
            </div>
        </div>
    </div>
</section>

<app-audience-testimonials />

<app-see-more-services-section />

<app-contact-us-section [services]="'AUDIENCE MEASUREMENT PAGE'" />

<app-footer></app-footer>