<section class="company-section" style="margin-bottom: 5%;">
    <div class="company-wrapper">
        <div class="company-header my-4">
            <h3 class="fs-3 fw-semibold">Trusted Digital Signage Solutions Provider for Leading Brands</h3>
            <p>
                We’re proud to work with some of the most respected brands across different 
                industries. They choose Nxysys because our digital signage solutions deliver 
                real results. With our mix of reliable technology and hands-on expertise, we help 
                businesses stand out, connect with their audiences, and make a meaningful 
                Impact every single day.
            </p>
        </div>
        <div class="logos">
            <div class="logo-slide">
                <!-- @for (item of imageIndex; track $index) {
                    <img [src]="'assets/webp-images/companies/' + item.id + '.webp'" [alt]="item.id + '.webp'" loading="lazy">
                } -->
                
                <img *ngFor="let item of imageIndex; trackBy: trackByFn" [src]="'https://nyxsys.ph/assets/webp-images/companies/' + item.id + '.webp'" [alt]="item.id + '.webp'" loading="lazy">
            </div>
        </div>
    </div>
</section>