<section class="company-section" style="margin-bottom: 5%;">
    <div class="company-wrapper">
        <div class="company-header my-4">
            <h3 class="fs-3 fw-semibold">Trusted by Leading Brands Worldwide</h3>
            <p>We’re proud to partner with top companies across various industries, delivering innovative LED advertising solutions 
                that drive results. Our clients trust us for our expertise, reliability, and commitment to excellence in outdoor media.</p>
        </div>
        <div class="logos">
            <div class="logo-slide">
                <!-- @for (item of imageIndex; track $index) {
                    <img [src]="'assets/webp-images/companies/' + item.id + '.webp'" [alt]="item.id + '.webp'" loading="lazy">
                } -->
                
                <img *ngFor="let item of imageIndex; trackBy: trackByFn" [src]="'https://nyxsys.ph/assets/webp-images/companies/' + item.id + '.webp'" [alt]="item.id + '.webp'" loading="lazy">
            </div>
        </div>
    </div>
</section>