<app-navbar />

<section class="section-container business-solution-section">
    <!-- <img class="business-solution-image" src="assets/images/cta.jpg" alt="business-solution" loading="lazy"> -->
    <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="business-solution-video"
        preload="auto">
        <source src="assets/videos/business-solutions.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="business-solution-container">
        <div class="business-solution-wrapper">
            <h1 class="business-solution-header business-solution-item"
                [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">Digital Display Management Services</h1>
            <p class="business-solution-subheader business-solution-item"
                [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                Manage Your Displays with Ease.
            </p>
            <p class="business-solution-subheader business-solution-item"
                [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                We empower your business with innovative business-to-business solutions to drive growth, enhance efficiency, 
                and gain a competitive edge. From advanced technologies to tailored strategies, we provide the tools and expertise to optimize performance, 
                expand reach, and adapt to market demands, ensuring sustained success in a changing landscape.
            </p>
            <div class="mt-5" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                <button (click)="onClickScrollSection('businessSolution')" mat-raised-button color="accent">Keep Exploring… More Insights Ahead!</button>
            </div>
        </div>
    </div>
</section>

<section id="businessSolution" class="section-container business-solution-contents">
    <div class="gradient-bg-top-right"></div>
    <div class="business-solution-container">
        <div class="business-solution-wrapper">
            <h2>VCastplay</h2>
            <p>Smart Digital Signage for Seamless Advertising</p>
            <div class="vcastplay-info">
                <div class="vcastplay-description">
                    <p>In today's fast-paced retail and commercial environment, capturing customer attention is more challenging than ever. 
                        Vcastplay is an advanced, cloud-based content management system (CMS) designed for the Digital Out-of-Home (DOOH) industry. 
                        It automatically creates and updates video content for in-store screens, making it a popular choice among major Philippine companies 
                        for both indoor and outdoor digital signage. By leveraging AI-driven automation, businesses can showcase relevant promotions, product highlights, 
                        and brand messaging seamlessly, enhancing customer engagement and overall experience. </p>
                    <p>Vcastplay also features real-time audience analysis, allowing businesses to tailor content dynamically based on customer preferences and interactions. 
                        This smart technology helps deliver targeted messages, making in-store advertising more effective and impactful. Additionally, the system provides 
                        an intuitive interface for easy playlist management, ensuring that content remains fresh, relevant, and engaging. 
                        As a comprehensive Digital Signage Software, it is applicable for all verticals engaged in using digital 
                        screen displays in OOH advertising, retail, and more. 
                    </p>
                    <p>With Vcastplay, businesses can transform their in-store screens into powerful marketing tools. 
                        The combination of automation, real-time analytics, and user-friendly content management makes it easier than ever to 
                        optimize digital signage strategies. Upgrade your in-store experience today with Vcastplay—where innovation meets engagement.</p>
                </div>
                <div class="row g-3 align-items-center flex-wrap-reverse">
                    <div class="col-12 col-lg-6 m-0">
                        <h4 class="my-4">Feature Benefits</h4>
                        <mat-accordion>
                            @for (item of e2eSolutions; track $index) {
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <img [src]="item.image" [alt]="item.details" loading="lazy" width="25">
                                        <span class="mx-3 e2eTitle">{{ item.text }}</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>{{ item.details }}</p>
                            </mat-expansion-panel>
                            }
                        </mat-accordion>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div id="video-container" class="vcastplay-video">
                            <video id="vcastplay" [controls]="true" [autoplay]="false" [loop]="true"
                                [playsInline]="true" class="vcastplay-video" preload="auto">
                                <source src="assets/videos/vcastplay software video.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-testimonials />

<section class="section-container business-solution-contents" style="background-color: #002868; color: #fff;">
    <div class="business-solution-container">
        <div class="business-solution-wrapper">
            <h3 class="fs-2 fw-semibold p-0 m-0"><span style="color: #fff;">&mdash; Next Up:</span> Apply Their Game-Changing Strategies</h3>
        </div>
    </div>
</section>

<section class="section-container business-solution-contents">
    <div class="gradient-bg-top-right"></div>
    <div class="business-solution-container">
        <div class="business-solution-wrapper">
            <h2>Digital Signage B2B Case Studies</h2>

            <div class="mt-5">
                <p>Why Choose Digital Signage B2B Case Studies?</p>
                <h4 class="fs-4">Why Choose NYXSYS to Leverage your Advertising?</h4>
                <div class="row g-5 mt-3">
                    <div class="col-12 col-md-6">
                        <p>Key Benefits from Successful businesses who uses digital signage:</p>
                        <div class="mt-5">
                            @for (item of keyBenefits; track $index) {
                                <div class="d-flex align-items-center mb-3">
                                    <span class="material-icons me-3" style="color: #F58F20;">check_circle</span>
                                    <p class="m-0 p-0">{{item}}</p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <p>Enabling them to:</p>
                        <div class="mt-5">
                            @for (item of enableList; track $index) {
                                <div class="d-flex align-items-center mb-3">
                                    <span class="material-icons me-3" style="color: #F58F20;">arrow_forward</span>
                                    <p class="m-0 p-0">{{item}}</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="business-solution-carousel">
                <h2>Success Stories</h2>
                <p>Real Results from Our Clients </p>
                <div class="row g-3 mt-3">
                    @for (item of caseStudies; track $index) {
                    <div class="col-12 col-xl-6">
                        <div class="business-solution-item">
                            <img [src]="item.image" [alt]="item.alt">
                            <div class="business-solution-item-overlay">
                                <div class="business-solution-item-text">
                                    <h4>{{ item.text }}</h4>
                                    <div class="d-flex mt-3">
                                        <span class="material-icons me-3 fs-3" style="color: #F58F20;">ads_click</span>
                                        <p class="m-0 p-0">{{item.challenge}}</p>
                                    </div>
                                    <div class="d-flex mt-3">
                                        <span class="material-icons me-3 fs-3" style="color: #F58F20;">lightbulb</span>
                                        <p class="m-0 p-0">{{item.solution}}</p>
                                    </div>
                                    <div class="d-flex mt-3">
                                        <span class="material-icons me-3 fs-3" style="color: #F58F20;">emoji_events</span>
                                        <p class="m-0 p-0">{{item.results}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-container post-service-section">
    <div class="business-solution-container">
        <div class="business-solution-wrapper">
            <h2>Content Management System</h2>
            <div class="post-service-impact my-5 py-5">
                <div class="row g-5">
                    <div class="col-12">
                        <div class="row g-3 align-items-center">
                            <div class="col-12">
                                <div id="video-container" class="post-service-video">
                                    <video id="vcastplay" [controls]="true" [autoplay]="false" [loop]="true"
                                        [playsInline]="true" class="vcastplay-video" preload="auto">
                                        <source src="assets/videos/digital signage.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <p>What is CMS?</p>
                        <h2>Why Does It Matter For Your Brand?</h2>
                        <p>
                            Fueled by advancements in technology, enhanced user experiences, and the growing integration of artificial intelligence and 
                            data analytics, NYXSYS will make your brand fully embrace the promising future of digital display management. NYXSYS will 
                            simplify the process and make it cost-effective together with our team of experts supporting you from setup to daily operations, 
                            ensuring your playlists and content are effortlessly managed with cutting-edge cloud tech. With NYXSYS, you can easily upload, manage, 
                            and schedule your media across unlimited screens from one central location and enjoy the operational costs savings.</p>
                    </div>
                </div>
            </div>

            <div class="my-5">
                <p>Why Partner With Us?</p>
                <h2>Why Avail CMS for Your Advertising?</h2>
            </div>
            <div class="row justify-content-center my-4 g-5">
                @for (item of postServices; track $index) {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="post-service-list">
                        <div class="post-service-item">
                            <img [src]="item.image" [alt]="item.alt" loading="lazy">
                        </div>
                        <div class="post-service-text">
                            <h4>{{ item.text }}</h4>
                            <p>{{ item.details }}</p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>

<section class="section-container business-solution-contents" style="background-color: #F58F20;">
    <div class="business-solution-container">
        <div class="business-solution-wrapper">
            <h3 class="fs-2 fw-semibold p-0 m-0 text-white">&mdash; Schedule a Demo</h3>
        </div>
    </div>
    <div class="position-absolute bottom-0 end-0">
        <span class="material-icons text-white page-break-icon">schedule</span>
    </div>
</section>

<section class="section-container b2b-industries-section">
    <div class="business-solution-container">
        <div class="business-solution-wrapper">
            <h2>B2B Verticals</h2>
            <div class="my-5">
                <p>Why Choose Software Solutions?</p>
                <h4 class="fst-4 mb-4">Why Choose To Avail Nyxsys Customizable Software Solutions For Your Brand?</h4>
                <p>We provide smart, tailored solutions to help businesses tackle their biggest industry challenges. Whether you're in retail, 
                    hospitality, healthcare, or any other B2B sector, our expertise is designed to meet your unique needs.  </p>
            </div>


            <div class="my-5">
                <h6 class="fs-6 fw-semibold">Who We Work With</h6>
                <p>We specialize in supporting a variety of industries, including:  </p>
            </div>
            <div class="row justify-content-center g-3 mt-4">
                @for (item of b2bIndustries; track $index) {
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="b2b-industries">
                        <img [src]="item.image" [alt]="item.alt" loading="lazy">
                        <div class="b2b-industries-text">
                            <h3>{{ item.text }}</h3>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>

        <div class="business-solution-wrapper my-5 py-5 position-relative">
            <div class="gradient-bg-top-left"></div>
            <div class="my-5">
                <p>How We Help:</p>
                <h4 class="fs-4">We bring cutting-edge technology to the table to:</h4>
            </div>
            <div class="row g-3">
                <div class="co-12 col-md-4">
                    <div class="p-4 border rounded-4 shadow-sm h-100 text-center">
                        <span class="material-icons fs-1 mb-4" style="color: #F58F20;">rocket_launch</span>
                        <h5 class="fw-semibold">Optimize operations</h5>
                        <p class="text-muted small mt-3">Making day-to-day processes smoother and more efficient.</p>
                    </div>
                </div>
                <div class="co-12 col-md-4">
                    <div class="p-4 border rounded-4 shadow-sm h-100 text-center">
                        <span class="material-icons fs-1 mb-4" style="color: #F58F20;">light_mode</span>
                        <h5 class="fw-semibold">Enhance customer experiences</h5>
                        <p class="text-muted small mt-3">Creating seamless interactions that keep customers happy.</p>
                    </div>
                </div>
                <div class="co-12 col-md-4">
                    <div class="p-4 border rounded-4 shadow-sm h-100 text-center">
                        <span class="material-icons fs-1 mb-4" style="color: #F58F20;">rocket_launch</span>
                        <h5 class="fw-semibold">Drive business growth</h5>
                        <p class="text-muted small mt-3">Helping businesses scale and stay competitive.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="business-solution-wrapper my-5 py-5 position-relative">
            <div class="gradient-bg-top-right"></div>
            <div class="my-5">
                <p>Why Choose Us?</p>
                <h4 class="fs-4">Our solutions are built to:</h4>
            </div>
            <div class="row g-3">
                <div class="co-12 col-md-4">
                    <div class="p-4 border rounded-4 shadow-sm h-100 text-center">
                        <span class="material-icons fs-1 mb-4 text-success">check_circle</span>
                        <h5 class="fw-semibold">Streamline operations</h5>
                        <p class="text-muted small mt-3">Eliminating inefficiencies and boosting productivity.</p>
                    </div>
                </div>
                <div class="co-12 col-md-4">
                    <div class="p-4 border rounded-4 shadow-sm h-100 text-center">
                        <span class="material-icons fs-1 mb-4 text-success">check_circle</span>
                        <h5 class="fw-semibold">Improve efficiency</h5>
                        <p class="text-muted small mt-3">Saving time and resources where it matters most.</p>
                    </div>
                </div>
                <div class="co-12 col-md-4">
                    <div class="p-4 border rounded-4 shadow-sm h-100 text-center">
                        <span class="material-icons fs-1 mb-4 text-success">check_circle</span>
                        <h5 class="fw-semibold">Ensure seamless integration</h5>
                        <p class="text-muted small mt-3">Making sure all business functions work together effortlessly.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="business-solution-wrapper my-5 py-5">
            <div class="my-5 row g-3 g-md-5 justify-content-between">
                <div class="col-12 col-md-6">
                    <h3 class="fs-3">Our Key Offerings:</h3>
                </div>
                <div class="col-12 col-md-6">
                    <p>We’re committed to customer satisfaction and operational excellence, making us a trusted partner for businesses looking to modernize and grow.</p>
                </div>
            </div>
            <div class="my-5 row g-3 g-md-5 justify-content-between align-items-center position-relative">
                <div class="gradient-bg-bottom-left"></div>
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center position-relative">
                    <img src="../../../assets/images/business solutions/analytics.png" style="object-fit: contain;" width="100%" height="500" alt="A man reviwing a dashboard website">
                </div>
                <div class="col-12 col-md-6 d-flex flex-column">
                    <h3 class="fs-3 fw-sembold">Data analytics</h3>
                    <p>Turning insights into smarter decisions.</p>
                    <div class="d-flex flex-column my-5">
                        <p>Let’s work together to build a smarter, more efficient future for your business!</p>
                        <div class="cta-button">
                            <a href="/contact" color="accent" mat-raised-button>Get Started Today!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-5 row g-3 g-md-5 flex-column-reverse flex-md-row justify-content-between align-items-center position-relative">
                <div class="gradient-bg-bottom-right"></div>
                <div class="col-12 col-md-6 d-flex flex-column">
                    <h3 class="fs-3 fw-sembold">Process automation</h3>
                    <p>Reducing manual tasks to free up valuable time.</p>
                    <div class="d-flex flex-column my-5">
                        <p>Let’s work together to build a smarter, more efficient future for your business!</p>
                        <div class="cta-button">
                            <a href="/contact" color="accent" mat-raised-button>Get Started Today!</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center position-relative">
                    <img src="../../../assets/images/business solutions/process_automation.png" style="object-fit: contain;" width="100%" height="500" alt="group of workers in a manufacturing">
                </div>
            </div>
        </div>
    </div>
</section>

<app-see-more-services-section />

<app-contact-us-section />

<app-footer />