<app-navbar />

<section class="section-container team-section">
    <img class="team-image" src="https://nyxsys.ph/assets/webp-images/team/team-bg.webp" alt="Nyxsys Philippines LED billboard lights up the city skyline at night." loading="lazy">
    <div class="team-container">
        <div class="team-wrapper">
            <h1 class="team-header team-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">Meet Our Team</h1>
            <p class="team-subheader team-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                A team of dedicated professionals driving innovation and success. With diverse skills and expertise, we
                collaborate to deliver impactful solutions, achieve exceptional results, and adapt to the evolving tech
                and business landscape. Together, we turn ideas into reality, helping clients thrive in a dynamic world.
            </p>
        </div>
    </div>
</section>

<section class="section-container team-list-section">
    <div class="team-list-container">
        <div class="team-list-wrapper">
            <h3 class="fs-3 fw-semibold">Our Dedicated Team</h3>
            <p>Combining specialized knowledge and collaborative efforts to inspire and propel innovation that makes a
                meaningful and lasting impact.</p>
            <div class="row g-3 w-100 mt-5">
                @for (item of teams; track $index) {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="team-list-content">
                            <img [src]="item.path" [alt]="item.alt">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<app-companies />

<app-testimonials />

<app-call-to-action />

<app-contact-us-section [services]="'MY TEAM PAGE'" />

<app-footer />

<!-- <app-scroll-to-top-btn sectionName=".team-section" /> -->