<app-navbar />

<section class="section-container contact-section">
    <div class="contact-overlay"></div>
    <img class="contact-image" src="https://nyxsys.ph/assets/images/contact-bg.jpg" alt="Ready to take on the digital landscape for your brand? Talk to us!" loading="lazy">
    <div class="contact-container">
        <div class="contact-wrapper">
            <h1 class="contact-header contact-item">Thank You for Reaching Out!</h1>
            <p class="contact-subheader contact-item">
                We've successfully received your inquiry.
            </p>
        </div>
    </div>
</section>

<app-see-more-services-section/>

<app-footer />