<app-navbar />

<section class="section-container blog-section">
    <img class="blog-image" src="assets/images/about/about-bg.png" alt="We are one of the leading Digital Media and Business Technology Solutions providers in the country." loading="lazy">
    <div class="blog-container">
        <div class="blog-wrapper">
            <h4 class="blog-header blog-item">Unlock the Power of DOOH: Insights, Trends & Strategies</h4>
            <p class="blog-subheader blog-item">
                Explore expert insights, industry trends, and innovative strategies in Digital Out-of-Home (DOOH) advertising to elevate your brand’s reach and impact.
            </p>
        </div>
    </div>
</section>

<section class="section-container blog-sections">
    <div class="blog-container">
        <div class="blog-wrapper">
            <div class="row g-4 align-items-stretch">
                @for (item of blogLists; track $index) {
                    <div class="col-12 col-md-6 col-lg-4">
                        <mat-card class="h-100">
                            <img mat-card-image src="https://placehold.co/600x400" class="w-100" alt="image placeholder">
                            <mat-card-content class="d-flex flex-column justify-content-center h-100">
                                <div class="p-3 blog-content">
                                    <h6 class="fs-6 fw-semibold">{{ item.title }}</h6>
                                    <p>{{ item.excerpt }}</p>
                                </div>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <div class="p-2">
                                <a [href]="'/blog/' + item.slug" class="float-end" color="accent" mat-button>READ MORE</a>
                            </div>
                        </mat-card>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


<app-call-to-action />

<app-contact-us-section />

<app-footer />