<app-navbar />

<section class="section-container blog-section">
    <img class="blog-image" src="assets/images/about/about-bg.png" alt="We are one of the leading Digital Media and Business Technology Solutions providers in the country." loading="lazy">
    <div class="blog-container">
        <div class="blog-wrapper">
            <h4 class="blog-header blog-item" [@slideInLeft]="isVisible[0] ? 'visible' : 'hidden'">Unlock the Power of DOOH: Insights, Trends & Strategies</h4>
            <p class="blog-subheader blog-item" [@slideInRight]="isVisible[1] ? 'visible' : 'hidden'">
                Explore expert insights, industry trends, and innovative strategies in Digital Out-of-Home (DOOH) advertising to elevate your brand’s reach and impact.
            </p>
        </div>
    </div>
</section>

<section class="section-container blog-sections">
    <div class="blog-container">
        <div class="blog-wrapper">
            <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-4 align-items-stretch">
                @for (item of blogLists; track $index) {
                    <div class="col">
                        <app-blog-card [blog]="item"></app-blog-card>
                    </div>
                } @empty {
                    <div class="text-center d-flex justify-content-center align-items-center" style="height: 300px;">
                        <p>No blog posts found. Stay tuned for more blogs</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<app-call-to-action />

<app-contact-us-section />

<app-footer />