h2, h6 {
    font-family: 'Poppins', Arial, sans-serif !important;
}


h6 {
    line-height: 1.4;
}

.blog-section {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;

    .blog-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }

    .blog-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        z-index: 1;

        .blog-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 120px;

            .blog-header {
                font-family: 'Poppins', Arial, sans-serif !important;
                /* Responsive font size */
                font-size: clamp(0.8rem, 4vw + 1rem, 3rem);
                font-weight: bold;
                line-height: 1.2;
                letter-spacing: 0.5px;
                margin: 0;
                color: #F58F20;
                text-align: start;
            }

            .blog-subheader {
                /* Responsive font size */
                font-size: clamp(0.7rem, 2.25vw + 0.5rem, 1rem);
                font-weight: 400;
                line-height: 1.5;
                margin-top: 1.05rem;
                color: #fafafa;
                text-align: end;
            }
        }
    }

    /* Color overlay filter */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #002868, $alpha: 0.5);
        z-index: -1;
        /* Ensures the overlay is above the video but below the content */
    }
}

/* Media Queries */
/* Mobile Styles (max-width: 767px) */
@media (max-width: 767px) {
    .blog-section {
        height: 100vh;

        .blog-wrapper {
            flex-direction: column !important;
            gap: 25px !important;

            .blog-header, .blog-subheader {
                text-align: center !important;
            }
        }
    }
}

/* Tablet Styles (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .blog-section {
        height: 100vh;

        .blog-wrapper {
            flex-direction: column !important;
            gap: 25px !important;
            

            .blog-header, .blog-subheader {
                text-align: center !important;
            }
        }
    }
}