<app-navbar />

<section class="section-container services-section">
    <img class="services-image" src="https://nyxsys.ph/assets/images/services-bg.jpg" alt="Business handshake in a professional meeting setting." loading="lazy">
    <div class="services-container">
        <div class="services-wrapper">
            <h1 class="services-header services-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">Our Services</h1>
            <p class="services-subheader services-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                We provide comprehensive digital advertising solutions, blending innovation and expertise to meet
                business needs. Our services include LED billboard media, static inventories, seamless tech integration,
                data analytics for insights, and content management systems for efficient execution, empowering
                businesses to elevate marketing strategies and achieve results.
            </p>
        </div>
    </div>
</section>

<app-services-section />

<app-why-choose-us-section />

<app-companies />

<app-testimonials />

<app-call-to-action />

<app-contact-us-section [services]="'SERVICES PAGE'" />

<app-footer />

<!-- <app-scroll-to-top-btn sectionName=".services-section" /> -->