<app-navbar />

<section class="section-container services-section">
    <img class="services-image" src="https://nyxsys.ph/assets/webp-images/services-bg.webp" alt="Business handshake in a professional meeting setting." loading="lazy">
    <div class="services-container">
        <div class="services-wrapper">
            <h1 class="services-header services-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">COMPREHENSIVE OUTDOOR MEDIA AND ADVERTISING SERVICES</h1>
            <p class="services-subheader services-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                We offer a full range of outdoor  media and advertising services designed to boost your brand's visibility. 
                From vibrant LED billboards to classic static displays, Nyxsys Philippines combines technology and expertise to help you plan, launch, and 
                manage campaigns that deliver real marketing results.
            </p>
        </div>
    </div>
</section>

<app-services-section />

<app-why-choose-us-section />

<app-companies />

<app-testimonials />

<app-call-to-action />

<app-contact-us-section [services]="'SERVICES PAGE'" />

<app-footer />

<!-- <app-scroll-to-top-btn sectionName=".services-section" /> -->