
<app-navbar />
    
<section class="hero-section">
    <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="hero-video" preload="auto">
        <source src="assets/videos/led.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="hero-wrapper">
        <div class="hero-container">
            <h1 class="hero-header">Forefront Of Innovation For <span>Digital Media</span> And <span>Industry
                    Solutions</span></h1>
            <p class="hero-subheader">At Nyxsys Philippines, Inc., we transform business growth with Digital Out-of-Home
                (DOOH) media and innovative technology solutions. Our advanced tools empower companies to enhance their
                presence, engage audiences, and thrive in the digital age. By delivering impactful campaigns and
                scalable solutions, we help our partners set industry standards, stay ahead, and achieve lasting
                success. </p>
            <!-- <a href="/contact" color="accent" mat-raised-button>CONTACT US</a> -->
        </div>
    </div>
    <div class="position-absolute bottom-0 w-100 text-center pb-3 scroll-btn text-white" (click)="onClickScrollSection()">
        <mat-icon>keyboard_arrow_down</mat-icon>
        <p class="mat-caption p-0 m-0">click or scroll down to see more</p>
    </div>
</section>

<app-about-section />

<app-driving-force-section />

<app-services-section />

<app-companies/>

<app-testimonials />

<app-call-to-action />

<app-contact-us-section />

<app-footer />

<app-scroll-to-top-btn sectionName=".hero-section" />