<app-navbar />
    
<section class="hero-section">
    <video #videoElement autoplay muted loop playsInline aria-hidden="true" class="hero-video" preload="none">
        <source src="https://nyxsys.ph/assets/videos/led.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <img *ngIf="isVideoLoading" src="https://nyxsys.ph/assets/webp-images/static.webp" alt="" class="hero-video">
    <div class="hero-wrapper">
        <div class="hero-container">
            <h1 class="hero-header">Leading the Innovation of <span>Digital Signage Solutions</span></h1>
            <p class="hero-subheader">
                Nyxsys Philippines Inc. specializes in delivering cutting-edge digital signage solutions 
                that help your business grow. Our technology enables our partners to increase their 
                visibility, connect with audiences, and succeed in the highly competitive digital age.  
                Offering impactful campaigns and scalable digital signage solutions, Nyxsys Philippines 
                sets industry standards, stay ahead and help you achieve long-lasting success. 
            </p>
            <!-- <a href="/contact" color="accent" mat-raised-button>CONTACT US</a> -->
        </div>
    </div>
    <div class="position-absolute start-0 bottom-0 w-100 text-center pb-3 scroll-btn text-white" (click)="onClickScrollSection()">
        <mat-icon>keyboard_arrow_down</mat-icon>
        <p class="mat-caption p-0 m-0">click or scroll down to see more</p>
    </div>
</section>

<app-about-section />

<app-driving-force-section />

<app-services-section />

<app-companies/>

<!-- <app-testimonials /> -->

<!-- <app-call-to-action /> -->

<app-contact-us-section [services]="'HOME PAGE'" />

<app-footer />