<app-navbar />

<section class="section-container led-section">
    <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="led-video" preload="auto">
        <source src="https://nyxsys.ph/assets/videos/led.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="led-container">
        <div class="led-wrapper">
            <h1 class="led-header led-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">{{ selectedMeta().header }}</h1>
            <p class="led-subheader led-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                Maximize Visibility, Amplify Your Brand. 
            </p>
            <p class="led-subheader led-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                {{ selectedMeta().intro }}
            </p>
        </div>
    </div>
</section>

<section class="section-container led-services">
    <div class="led-container">
        <div class="led-wrapper text-center">
            <div class="gradient-bg-top-right"></div>
            <div class="container">
                <h2 class="mb-4 fw-bold">{{ selectedAds().title }}</h2>
                <div class="row justify-content-center my-5 g-3 g-md-4">
                    @for (item of selectedAds().items; track $index) {
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="p-4 border rounded-4 shadow-sm h-100 text-center">
                                <span class="material-icons fs-1 mb-4" style="color: #F58F20;">{{ item.icon }}</span>
                                <h5 class="fw-semibold">{{ item.title }}</h5>
                                <p class="text-muted small mt-3">{{ item.text }}</p>
                            </div>
                        </div>
                    }
                </div>
            
                <div class="mt-5 d-flex flex-column flex-sm-row justify-content-center align-items-center">
                    <p class="p-0 m-0">Boost Your Brand Visibility &mdash;</p>
                    <a class="mx-2" href="/contact" color="accent" mat-raised-button>Get Started Today!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-container row">
    <div class="col-md-6">
        <div class="grid-center">
            <div class="grid-container">
                <div>
                    <h3 class="mb-4 fw-bold" style="color: #F58F20;">
                    Ideal for These Brands and Campaigns
                    </h3>
                </div>
                <p class="text-muted" [innerHTML]="selectedIdealBrands().title"></p>
                @for (item of selectedIdealBrands().objects; track $index) {
                <div class="d-flex mb-4">
                    <span class="material-icons me-3" style="color: #F58F20;">check_circle</span>
                    <div class="d-flex flex-column">
                        <h6 class="fs-6 fw-semibold">{{ item.title }}</h6>
                        <span class="m-0 p-0">{{item.description}}</span>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="grid-center">
            <div class="grid-container">
                <h3 class="mb-4 fw-bold" style="color: #F58F20;">Nearby Landmarks <span class="material-icons me-3" style="color: #F58F20;">location_on</span></h3>
                <p class="text-muted">{{ selectedLandMarks().title }}</p>
                <ul>
                    @for (location of selectedLandMarks().locations; track $index) {
                    <li>
                        <h6 class="fs-6 fw-semibold">{{ location }}</h6>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="section-container row" style="background-color: #002868; color: #fff;">
    <div class="col-md-6">
        <div class="grid-center">
            <div class="grid-container">
                <h3 class="mb-4 fw-bold" style="color: #F58F20;">Booking and Rates</h3>
                <p [innerHTML]="selectedBooking().description"></p>
                <p [innerHTML]="selectedBooking().contactUs" class="contact-us"></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="grid-center">
            <div class="grid-container">
                <h3 class="mb-4 fw-bold" style="color: #F58F20;">Start Your Billboard Campaign Here</h3>
                <p class="fw-bold">{{ selectedBooking()?.startCampaign ? selectedBooking()?.startCampaign : 'Bold visuals, Massive reach, High-impact branding.'}}</p>
                <div>
                    <div class="d-flex">
                        <span class="material-icons me-3" style="color: #F58F20;">check_circle</span>
                        <p class="fw-bold">Request a Proposal</p>
                    </div>
                    <div class="d-flex mb-3">
                        <span class="material-icons me-3" style="color: #F58F20;">check_circle</span>
                        <p class="fw-bold">Talk to Our Media Planner</p>
                    </div>
                </div>
                <a color="accent" routerLinkActive="router-link-active" href="/contact" mat-raised-button>REQUEST A PROPOSAL</a>
            </div>
        </div>
    </div>
</section>

<section class="section-container">
    <div class="col-lg-12">
        <div style="display: grid; place-items: center;">
            <div class="grid-container">
                <div>
                    <h2 class="mb-4 fw-bold" style="color: #F58F20;">
                        <span class="material-icons" style="color: #F58F20;">question_answer</span>
                        Frequently Asked Questions (FAQ)
                    </h2>
                    
                    <div class="col-12 m-0">
                        @for (item of selectedFaqs().faqs; track $index) {
                            <p class="fw-semibold">Q: {{ item.question }}</p>
                            <p class="text-muted" [innerHTML]="'A: ' + item.answer"></p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-container row">
    <div class="col-md-6">
        <div class="grid-center">
            <img class="map" [src]="selectedMap().fileName" alt="EDSA Guadalupe, across Guadalupe MRT Station (Southbound)" loading="lazy">
        </div>
    </div>
    <div class="col-md-6">
        <div class="grid-center">
            <div class="grid-container">
                <h2 class="fs-1 mb-4 fw-semibold text-center">Location Details and Billboard Specification</h2>
                <ul>
                    <li><h6 class="fs-6 fw-semibold">Exact Address: {{ selectedSpecs().specs.exactAddress }}</h6></li>
                    <li><h6 class="fs-6 fw-semibold">Billboard Size: {{ selectedSpecs().specs.size }}</h6></li>
                    <li><h6 class="fs-6 fw-semibold" [innerHTML]="'Orientation: ' + selectedSpecs().specs.orientation"></h6></li>
                    <li><h6 class="fs-6 fw-semibold">Average Monthly Traffic Count: {{ selectedSpecs().specs.aveMonthlyCount }}</h6></li>
                    <li><h6 class="fs-6 fw-semibold">Source: {{ selectedSpecs().specs.source }}</h6></li>
                </ul>
            </div>
            
        </div>
    </div>
</section>


<section class="section-container led-services" style="background-color: #002868; color: #fff;">
    <div class="led-container">
        <div class="led-wrapper">
            <h2 class="fs-1 fw-semibold">&mdash; Want More Conversions? Keep Reading!</h2>
        </div>
    </div>
</section>

<section class="section-container led-services">
    <div class="led-container">
        <div class="led-wrapper">
            <div class="mb-5">
                <h3 class="mb-4">Not Just Billboards | Amplify Your Reach with <span class="fs-3 fw-semibold">Mall Posterboxes</span></h3>
                <p class="mt-3">Malls are bustling hubs of consumer activity, making mall advertising a 
                    powerful marketing tool to complement your LED billboard advertising campaigns.</p>
                <p class="fw-semibold my-5">Available Mall Locations:</p>
            </div>
            <mat-tab-group color="accent" [dynamicHeight]="true" mat-stretch-tabs>
                @for (item of mallPosterboxes; track $index) {
                <mat-tab [label]="item.text">
                    <div class="row g-3 mt-2">
                        @for (childItem of item.items; track $index) {
                        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                            <div class="led-content">
                                <img [src]="childItem.image" [alt]="childItem.alt" loading="lazy">
                                <div class="led-content-overlay">
                                    <div class="led-content-text">
                                        <h6 class="fs-6 fw-semibold">{{ childItem.text }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </mat-tab>
                }
            </mat-tab-group>
        </div>
    </div>
</section>


<section class="section-container led-services" style="background-color: #002868; color: #fff;">
    <div class="led-container">
        <div class="led-wrapper">
            <div class="row g-md-5 g-3 justify-content-center">
                <div class="col-12 col-md-6">
                    <h2 class="mb-4 fw-bold">Let’s Get Your Brand on the Big Screen!</h2>
                    <p class="mb-5">Boost brand awareness, attract more customers, and dominate your industry with our LED billboard advertising solutions. 
                        Whether you're launching a new product, running a promotional campaign, or reinforcing brand presence, our LED billboards and mall poster 
                        boxes provide the perfect high-impact advertising solution.</p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row g-5 justify-content-between">
                        <div class="col-12 d-flex align-items-center border-bottom pb-3">
                            <span class="material-icons fs-1 me-3" style="color: #F58F20;">check_circle</span>
                            <h5 class="fw-semibold">Strategic Locations</h5>
                        </div>
                        <div class="col-12 d-flex align-items-center border-bottom pb-3">
                            <span class="material-icons fs-1 me-3" style="color: #F58F20;">check_circle</span>
                            <h5 class="fw-semibold">High-Traffic Exposure</h5>
                        </div>
                        <div class="col-12 d-flex align-items-center border-bottom pb-3">
                            <span class="material-icons fs-1 me-3"  style="color: #F58F20;">check_circle</span>
                            <h5 class="fw-semibold">Customizable Advertising Solutions</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-see-more-services-section />

<app-contact-us-section [services]="'LED MEDIA INVENTORIES PAGE'" />

<app-footer />

<!-- <app-scroll-to-top-btn sectionName=".led-section" /> -->