h2 {
    font-family: 'Poppins', Arial, sans-serif !important;
    font-size: 2.3rem !important;
    font-weight: 700;
}

h2, h3 {
    color: #F58F20 !important;
}

.led-section {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;

    .led-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }

    .led-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        z-index: 1;

        .led-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;

            .led-header {
                font-family: 'Poppins', Arial, sans-serif !important;
                font-size: clamp(0.8rem, 3vw + 1rem, 3rem);
                /* Responsive font size */
                font-weight: bold;
                line-height: 1.2;
                letter-spacing: 0.5px;
                margin: 0;
                color: #F58F20;
                width: 80%;
                /* Adjust color as needed */
            }

            .led-subheader {
                font-size: clamp(0.8rem, 2.25vw + 0.5rem, 1rem);
                /* Responsive font size */
                font-weight: 400;
                line-height: 1.5;
                margin-top: 1.05rem;
                color: #fafafa;
                width: 80%;
                text-align: justify;
                /* Adjust color as needed */
            }
        }
    }

    /* Color overlay filter */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #002868, $alpha: 0.5);
        z-index: -1;
        /* Ensures the overlay is above the video but below the content */
    }
}

.led-services {

    .led-content {
        overflow: hidden;
        position: relative;
        border-radius: 6px;
        background-color: #EBEDF0;
        padding: 5%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;
        img {
            height: 180px;
            width: auto;
            max-width: 100%;
        }

        .led-content-overlay {
            width: 100%;
            margin-top: 32px;

            h4 {
                font-weight: 700;
            }
        }
    }

    // .led-content-hover:hover{
    //     transform: scale(1.00);
    //     cursor: pointer;
    //     border: 1px solid #dee2e6;
    //     box-shadow: 2px 17px 78px -24px rgba(0,0,0,0.76);
    //     -webkit-box-shadow: 2px 17px 78px -24px rgba(0,0,0,0.76);
    //     -moz-box-shadow: 2px 17px 78px -24px rgba(0,0,0,0.76);
    // }
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: rgba($color: #000, $alpha: 0.1);
    height: 50px;
    width: 50px;
    border-radius: 100%;

    mat-icon {
        color: #F58F20;
        font-size: 3rem;
        height: 50px;
        width: 50px;
    }
}

.map{
    width: auto;
    height: 400px;
    object-fit: fill;
    border-radius: 6px;
    // height: 400px;
    // width: 100%;
    // max-width: 100%;
}

.grid-container{
    padding-left: 10%;
    padding-right: 10%;

    
}

.grid-center{
    display: grid;
    place-items: center;
}

.grid-end{
    display: grid;
    place-items: end;
}

.anchor{
    color: #fff !important;
}

/* Media Queries */
/* Mobile Styles (max-width: 767px) */
@media (max-width: 767px) {

    .led-section {
        height: 100vh;
    }

    .led-header, .led-subheader {
        width: 100% !important;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    .grid-container{
        padding: 0;

        
    }

    .map {
        object-fit: cover;
    }
}

/* Tablet Styles (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

    .led-section {
        height: 100vh;
    }

    h2 {
        font-size: 2rem !important;
    }

    .map {
        object-fit: cover;
    }
}