.feature-section {
    font-family: 'Poppins', Arial, sans-serif;
    position: relative;
    width: 100%;
    overflow: hidden;
    
    .feature-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        z-index: 1;

        .feature-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: auto 20px;
            
            h2 {
                font-size: 2.3rem;
                font-weight: 700;
            }

            .feature-item {
                height: 100%;
                padding: 8%;
                border: solid #EBEDF0 2px;
                border-radius: 8px;

                img {
                    height: 50px;
                    margin-bottom: 15%
                }

                h4 {
                    font-weight: 500;
                    margin-bottom: 26px;
                }
            }
        }
        

        .driving-force-list {
            display: flex;
            flex-direction: column;

            .driving-force-item {
                border-radius: 8px;
                overflow: hidden;
                margin-bottom: 32px;
        
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .driving-force-text h4 {
                font-weight: 600;
                font-size: 1.05rem !important;
            }
        }
    }
}


/* Media Queries */
/* Mobile Styles (max-width: 767px) */
@media (max-width: 767px) {

    h2 {
        font-size: 1.5rem !important;
    }
}

/* Tablet Styles (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    
    h2 {
        font-size: 2rem !important;
    }
    
}