<section class="section-container">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="cta-container" aria-label="Large Signage of Nyxsys Philippines outside the building (daytime)">
                <div class="row g-5 align-items-center cta-content">
                    <div class="col-12 col-lg-9">
                        <h4 class="fs-4 fw-bold cta-header">Leading the <span>Digital Revolution in Out-Of-Home Media</span> and
                            <span>Innovative Business Solutions</span></h4>
                    </div>
                    <div class="col-12 col-lg-3 text-center">
                        <a href="/contact" class="fs-6" color="accent" mat-raised-button>Get Started with us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>