<section class="section-container">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="cta-container">
                <div class="row g-3 align-items-center cta-content">
                    <div class="col-12 col-lg-9">
                        <h2 class="header">Leading the <span>Digital Revolution in Out-Of-Home Media</span> and
                            <span>Innovative Business Solutions</span></h2>
                    </div>
                    <div class="col-12 col-lg-3 text-center">
                        <a href="/contact" color="accent" mat-raised-button>Get Started with us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>