<section class="section-container">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="text-center fs-3 fw-semibold">What Our Clients Say</h3>
        <p>Genuine Stories of Trust, Success, and Lasting Partnerships</p>
        <div class="row g-3 justify-content-center my-5">
            @for (item of testimonials; track $index) {
                <div class="col-12 col-md-6 col-lg-4">
                    <app-testimonials-card [item]="item" />
                </div>
            }
        </div>
        <div>
            <a href="/testimonials" color="accent" mat-raised-button>View More Stories</a>
        </div>
    </div>
    <div class="gradient-bg-bottom-left"></div>
    <div class="gradient-bg-bottom-right"></div>
</section>