<app-navbar />

<section class="section-container testimonials-section">
    <img class="testimonials-image" src="assets/images/about/about-bg.png" alt="We are one of the leading Digital Media and Business Technology Solutions providers in the country." loading="lazy">
    <div class="testimonials-container">
        <div class="testimonials-wrapper">
            <h1 class="testimonials-header testimonials-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">What Our Clients Say About Us</h1>
            <p class="testimonials-subheader testimonials-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                Real stories from satisfied customers who have experienced the power of our digital signage solutions.
            </p>
        </div>
    </div>
</section>

<section class="section-container">
    <div class="testimonials-container-list">
        <div class="testimonials-wrapper-list">
            <div class="row g-4 align-items-stretch justify-content-center">
                @for (item of testimonialList; track $index) {
                    <div class="col-12 col-md-6 col-lg-4">
                        <app-testimonials-card [item]="item" />
                    </div>
                } @empty {
                    <div class="text-center d-flex justify-content-center align-items-center" style="height: 300px;">
                        <p>No testimonials found. Stay tuned for more testimonials</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<app-call-to-action />

<app-contact-us-section />

<app-footer />

<app-scroll-to-top-btn sectionName=".testimonials-section" />