<app-navbar />

<section class="section-container testimonials-section">
    <img class="testimonials-image" src="assets/images/about/about-bg.png" alt="We are one of the leading Digital Media and Business Technology Solutions providers in the country." loading="lazy">
    <div class="testimonials-container">
        <div class="testimonials-wrapper">
            <h1 class="testimonials-header testimonials-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">What Our Clients Say About Us</h1>
            <p class="testimonials-subheader testimonials-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                Real stories from satisfied customers who have experienced the power of our digital signage solutions.
            </p>
        </div>
    </div>
</section>

<section class="section-container">
    <div class="testimonials-container-list">
        <div class="testimonials-wrapper-list">
            <div class="row g-4 align-items-stretch">
                @for (item of testimonialList; track $index) {
                    <div class="col-12 col-md-6 col-lg-4">
                        <mat-card class="h-100">
                            <mat-card-header>
                                <img mat-card-avatar src="https://placehold.co/600x400" alt="image placeholder">
                                <mat-card-title class="fw-semibold">{{ item.name }}</mat-card-title>
                                <mat-card-subtitle>{{ item.company }}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="d-flex flex-column justify-content-center h-100 py-3">
                                <p>{{ item.testimonial }}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                @for (rating of onSetRatings(item.rating); track $index) {
                                    <mat-icon class="text-warning">{{ rating }}</mat-icon>
                                }
                            </mat-card-actions>
                        </mat-card>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<app-call-to-action />

<app-contact-us-section />

<app-footer />