$color-primary: (
    50 : #c4d1e2,
    100 : #a4b8d5,
    200 : #7b9bc7,
    300 : #4f7eb3,
    400 : #336ea8,
    500 : #002868,
    600 : #00205b,
    700 : #001a52,
    800 : #001447,
    900 : #000d3b,
    A100 : #6a9bff,
    A200 : #4a8fff,
    A400 : #0072ff,
    A700 : #0056d2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$color-accent: (
    50 : #fbe7d2,
    100 : #f7d3a2,
    200 : #f4be73,
    300 : #f29c27,
    400 : #f28c21,
    500 : #F58F20,
    600 : #d67e1c,
    700 : #c26f1b,
    800 : #a86016,
    900 : #8e4e12,
    A100 : #ffcc80,
    A200 : #ffb74d,
    A400 : #ffa726,
    A700 : #ff9800,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);